doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    footer
      small Developed by 
        a(href="https://github.com/jamcry", target="_blank")
          b JamCry
